body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

header {
  padding: 10px 20px 5px;
  background-color: #fff;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
}

.tabs {
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 2px;
  margin: 0 20px 10px;
  height: 30px;
}

.tab {
  flex: 1;
  padding: 6px 0;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color: #777;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.2s ease;
}

.tab.active {
  background-color: #ffffff;
  color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.photo {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0;
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 15px;
  gap: 10px;
  margin-bottom: 40px;
}

.primary, .secondary {
  width: 100%;
  max-width: 700px;
}

.primary {
  background-color: #1b6ae9;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.secondary {
  background: none;
  border: 2px solid #94bfec;
  color: #0b6ed8;
  padding: 13px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}

.back-button {
  background: none;
  border: none;
  position: absolute;
  left: 15px;
  top: 18px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-icon {
  width: 28px;
  height: 28px;
  stroke: rgb(0, 0, 0);
}

.label {
  font-size: 13px;
  color: #888;
  font-weight: 500;
}
