body {
  font-family: sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

header {
  padding: 10px 20px 5px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

h1 {
  text-align: center;
  font-size: 18px;
  margin: 10px 0;
}

.tabs {
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 4px;
  margin: 0 20px 15px;
}

.tab {
  flex: 1;
  padding: 10px 0;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color: #777;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.2s ease;
}

.tab.active {
  background-color: #ffffff;
  color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
  margin: 20px auto;
  width: 90%;
  text-align: center;
}

.photo {
  width: 100%;
  max-width: 700px; /* ограничим максимальный размер */
  border-radius: 12px;
  margin: 0 auto;
  display: block;
}


.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}

.primary,
.secondary {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 16px 0;
  font-size: 16px;
  font-weight: bold;
  border-radius: 12px;
}

.primary {
  background-color: #007bff;
  color: white;
  border: none;
}

.secondary {
  background: none;
  border: 2px solid #007bff;
  color: #007bff;
}